<a href="https://colab.research.google.com/github/sreekar7/Code-Monkey/blob/master/Tuples_and_Sets_Sep24_Morning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

- A tuple is an unmodifiable (immutable) list!

In [ ]:
a = (10, 20, 30, 40, 50, 60)

In [ ]:
a[0] # Positibe / Negative Indexing and Slicing work with tuples

10

In [ ]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
a.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
a.extend([100])

AttributeError: 'tuple' object has no attribute 'extend'

In [ ]:
a.insert(5, 100)

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
a[-5]

20

In [ ]:
a[3:10]

(40, 50, 60)

In [ ]:
l = [10]

In [ ]:
type(l)

list

In [ ]:
t = (10)

In [ ]:
type(t)

int

In [ ]:
t = (10,) # The comma at the end tells python that this is a tuple and not an expression

In [ ]:
type(t)

tuple

In [ ]:
t

(10,)

In [ ]:
a = [10, 20, 30]
b = (10, 20, 30)

In [ ]:
list(b)

[10, 20, 30]

In [ ]:
tuple(a)

(10, 20, 30)

In [ ]:
# PACKING and UNPACKING

In [ ]:
a_tuple = (10000, 7, 10)
b_list = [20000, 8, 5]

In [ ]:
# p = a_tuple[0]
# r = a_tuple[1]
# t = a_tuple[2]

p, r, t = a_tuple # Unpacking in Python

In [ ]:
p

10000

In [ ]:
r

7

In [ ]:
t

10

In [ ]:
x, y, z, w = a_tuple

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
x, y = a_tuple

ValueError: too many values to unpack (expected 2)

In [ ]:
x, y, z = b_list # Unpacking works with lists as well

In [ ]:
x

20000

In [ ]:
y

8

In [ ]:
z

5

In [ ]:
def foo():
  return "Success", 200, True # Multiple values can be returned from a function!

In [ ]:
result = foo() # The three values that were returned got packed into a tuple

In [ ]:
result

('Success', 200, True)

In [ ]:
# Iterating over tuples
a = (10, 20, 30, 40, 50)

In [ ]:
for i in a:
  print(i)

10
20
30
40
50

In [ ]:
a = [(1, "Bipin"), (2, "Karthik"), (3, "Mukesh"), (4, "Ravichandra"), (5, "Shashi")]

In [ ]:
for t in a:
  print(t)

(1, 'Bipin')
(2, 'Karthik')
(3, 'Mukesh')
(4, 'Ravichandra')
(5, 'Shashi')

In [ ]:
for t in a:
  print(f"{t[0]} -> {t[1]}")

1 -> Bipin
2 -> Karthik
3 -> Mukesh
4 -> Ravichandra
5 -> Shashi

In [ ]:
for roll_number, name in a:
  print(f"{roll_number} -> {name}")

1 -> Bipin
2 -> Karthik
3 -> Mukesh
4 -> Ravichandra
5 -> Shashi

In [ ]:
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y
print(len(z))

6

In [ ]:
z

(1, 2, 3, 4, 5, 6)

In [ ]:
a = 5
b = "random"

In [ ]:
temp = a
a = b
b = temp

In [ ]:
print(a, b)

random 5

In [ ]:
a = 5
b = "random"

In [ ]:
a, b = b, a
# On the RHS b, a gets packed into a tuple ("random", 5)
# a, b = ("random", 5)
# On the LHS, this tuple gets unpacked into the variables a and b | a -> random and b -> 5

In [ ]:
print(a, b)

random 5

In [ ]:
a = 10
b = 20
c = 30
d = 40

In [ ]:
c, b, d, a = a, b, c, d

In [ ]:
a = [10, 20, 30]
b = [100, 200, 300]

In [ ]:
a, b

([10, 20, 30], [100, 200, 300])